:root {
    --bg-color: rgb(14, 17, 23);
    --primary-color: #4CAF50;
    --primary-color-dark: #327434;
    --white-color: white;
    --input-bg-color: rgb(45, 52, 65);
    --input-border-color: #d1d1d1;
}

.theme-light {
    --bg-color: rgb(247, 247, 247);
    --primary-color: hsl(197, 77%, 36%);
    --primary-color-dark: hsl(128, 71%, 53%);
    --white-color: rgb(0, 0, 0);
    --input-bg-color: rgb(223, 226, 231);
    --input-border-color: #d1d1d1;
    --primary-color-hover: hsl(197, 77%, 26%); /* reduced the lightness from 36% to 26% */

}

body {
    color: var(--white-color) !important;
}

.custom-bg-dark {
    background-color: var(--bg-color);
}

.custom-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    border-radius: 80px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 4px;
}

.custom-btn:hover {
    background-color: var(--primary-color-hover);
    color: white !important;
}


.custom-form-select {
    background-color: var(--input-bg-color);
    color: var(--white-color);
    border: 1px solid var(--input-border-color);
    font-size: 1.1rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.custom-form-select-sm {
    background-color: var(--input-bg-color);
    color: var(--white-color);
    border: 3px solid var(--input-border-color);
    font-size: 0.9rem;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 46px;
    outline: none;
}

.custom-form-control {
    background-color: var(--input-bg-color);
    color: var(--white-color);
    font-size: 1.1rem;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.custom-form-control:focus {
    outline: var(--primary-color) solid 1px;
}

.border-green {
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
}

.title {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 24px 0px;
}

.subtitle{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 6px 0px;
}

.text{
    font-size: 1.1rem;
}

.subtext{
    font-size: 0.9rem;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    background-color: var(--input-bg-color);
    border-color: var(--input-border-color);
}

input[type="checkbox"]:checked{
    background-color: var(--primary-color);
    border: var(--primary-color);
}

.link {
    /* text-decoration: none; */
    color: var(--primary-color);
    font-weight: bold;
}

.link:hover{
    color: var(--primary-color-dark);
}

.nv-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.nv-link:hover {
    color: var(--primary-color-dark);
}

.active {
    color: var(--primary-color-dark) !important;
}

.text-green {
    color: var(--primary-color);
}

.flexy {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
}

.flexy label {
    white-space: nowrap;
}

.theme-switch {
    margin: 12px 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    float: right;
}

.annotation-text {
    color: #327434 !important;
}

#loading .fa-spinner {
    font-size: 30px;  /* Change as needed */
    margin-right: 10px; /* Space between spinner and text */
    color: #16b4db; /* This is a standard green color */

}


/* Add these classes to your CSS file */
.main-heading {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color-dark);
}

.main-text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;  /* A shade of grey for better readability */
}

.bold-text {
    font-weight: bold;
}

.disclaimer-text {
    font-size: 0.9rem;
    color: #555;  /* Slightly lighter grey for disclaimers */
}

.link:hover {
    text-decoration: underline;
}



.highlighted-text {
    font-size: 1.4rem; /* Adjust the size as per your requirement */
    font-weight: 500;  /* This will make the font a bit bolder */
    color: var(--primary-color);
}


.text-center .main-heading.bold-black-text {
    color: black;
    font-weight: bold;
}
