{% extends 'base.html' %}

{% block content %}
<div class="subtitle text-center">
    {{ ass.title }}
</div>
<div class="my-3">
    <strong>Disclaimer:</strong> 
    This tool is for informational purposes and is not a diagnostic tool. The results 
    from this tool do not replace professional medical advice. Always consult with a 
    healthcare professional for a comprehensive assessment.
</div>
<div class="row my-4">
    <form action="{{url_for('results')}}" method="post">
        {% if not current_user.is_authenticated %}
            <div class="mb-3">
                <label for="age" class="form-label subtext">Select Age Group:</label>
                <select name="age" id="age" class="custom-form-select" required>
                    <option value="15-24" selected>15-24</option>
                    <option value="25-34">25-34</option>
                    <option value="35-44">35-44</option>
                    <option value="45-54">45-54</option>
                    <option value="55+">55+</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label subtext">Select Gender:</label>
                <select name="gender" id="gender" class="custom-form-select" required>
                    <option value="female" selected>Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
        {% endif %}
        {% for qn in ass.questions %}
            <div class="mb-3">
                <label for="id_{{qn.id}}" class="form-label subtext">{{ qn.text }}</label>
                <select name="id_{{qn.id}}" id="id_{{qn.id}}" class="custom-form-select">
                    {% for o in qn.options %}
                        <option value="{{o.text}}">{{o.text}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <div class="mb-3 text-center">
            <input type="submit" value="Submit" class="custom-btn px-4 text">
        </div>
    </form>
</div>
{% endblock content %}
