<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akili Check | {{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    {% block styles %}{% endblock %}
</head>
<body class="custom-bg-dark mx-2 theme-light pt-0 mt-0">

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:   #165068">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{url_for('static', filename='images/akili_logo1.png')}}" class="logo" alt="Akili Check Logo" style="width: 80px; height: auto;">
            Akili Check
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Home, Change Language, and Login buttons on the left -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link {% if curr_page=='home' %}active{% endif %}" href="{{ url_for('index') }}" style="border-radius: 100px; color: white; font-weight: bold;">
            <i class="bi bi-house-door-fill"></i>
            {% if session['lang'] == "sw" %}Karibu{% else %}Home{% endif %}
        </a>
    </li>
    <li class="nav-item ms-2">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#languageModal" style="border-radius: 100px; color: white; font-weight: bold;">
            <i class="bi bi-globe"></i> {% if session['lang'] == "sw" %}Chagua lugha{% else %}Choose Language{% endif %}
        </a>
    </li>
    {% if current_user.is_authenticated %}
        <li class="nav-item ms-2">
            <a href="{{url_for('scores')}}" class="nav-link nv-link text scores-btn {% if curr_page=='scores' %}active{% endif %}" style="border-radius: 100px; color: white; font-weight: bold;">
                <i class="bi bi-bar-chart-fill"></i>
                {% if session['lang'] == "sw" %}Alama Zako{% else %}Your scores{% endif %} - {{ current_user.username }}
            </a>
        </li>
        <li class="nav-item ms-2">
            <a href="{{url_for('logout')}}" class="nav-link nv-link text {% if curr_page=='logout' %}active{% endif %}" style="border-radius: 100px; color: white; font-weight: bold;">
                <i class="bi bi-box-arrow-right"></i>
                {% if session['lang'] == "sw" %}Ondoka{% else %}Logout{% endif %}
            </a>
        </li>
    {% else %}
        <li class="nav-item ms-2">
            <a href="{{ url_for('login') }}" class="nav-link nv-link text {% if curr_page=='login' %}active{% endif %}" style="border-radius: 100px; color: white; font-weight: bold;">
                <i class="bi bi-box-arrow-in-right"></i> {% if session['lang'] == "sw" %}Ingia{% else %}Login{% endif %}
            </a>
        </li>
    {% endif %}
    <li class="nav-item ms-2">
        <a class="nav-link" href="#" id="themeSwitch" style="border-radius: 100px; color: white; font-weight: bold;">
          <i class="bi bi-lightbulb"></i> {% if session['lang'] == "sw" %}Badili muonekano{% else %}Change Theme{% endif %}
        </a>
      </li>
      
    </ul>
  </div>
</div>
</nav>

<!-- Language Selection Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="languageModalLabel">{% if session['lang'] == "sw" %}Chagua lugha yako{% else %}Choose your language{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Language Selection Dropdown -->
                <select name="language" id="language" class="custom-form-select-sm">
                    <option value="en" {% if session['lang'] == "en" %}selected{% endif %}>English</option>
                    <option value="sw" {% if session['lang'] == "sw" %}selected{% endif %}>Kiswahili</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% if session['lang'] == "sw" %}Funga{% else %}Close{% endif %}</button>
            </div>
        </div>
    </div>
</div>




<!-- Language Selection Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="languageModalLabel">{% if session['lang'] == "sw" %}Chagua lugha yako{% else %}Choose your language{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Language Selection Dropdown -->
                <select name="language" id="language" class="custom-form-select-sm">
                    <option value="en" {% if session['lang'] == "en" %}selected{% endif %}>English</option>
                    <option value="sw" {% if session['lang'] == "sw" %}selected{% endif %}>Kiswahili</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% if session['lang'] == "sw" %}Funga{% else %}Close{% endif %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="col-12 col-md-10 col-lg-9 mx-auto">
    <!-- Your existing content goes here -->
    {% block content %}{% endblock %}

    {% block sponsors %}
    <div class="mt-4 border-top">
        <p class="text pt-1">Sponsored By:</p>
        <div class="sponsors">
            <div class="sponsor-item">
                <img src="{{url_for('static', filename='images/udom-logo.png')}}" alt="UDOM Logo">
                <a href="https://udom.ac.tz/" target="_blank">UDOM</a>
            </div>
            <div class="sponsor-item">
                <img src="{{url_for('static', filename='images/ai4dlab.png')}}" alt="AI4D Labs Logo">
                <a href="https://ai4dlab.or.tz/" target="_blank">AI4D Labs</a>
            </div>
            <div class="sponsor-item">
                <img src="{{url_for('static', filename='images/mandela-logo.png')}}" alt="NM-AIST Logo">
                <a href="https://nm-aist.ac.tz/" target="_blank">NM-AIST</a>
            </div>
            <div class="sponsor-item">
                <img src="{{url_for('static', filename='images/Amana logo.png')}}" alt="Amana hospital Logo">
                <a href="http://amanarrh.go.tz" target="_blank">Amana </a>
            </div>
        </div>
    </div>
    {% endblock sponsors %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
{% block script %}{% endblock %}
</body>
</html>
