<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Akili Check | {{ title }}</title>

	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	{% block styles %}
	{% endblock styles %}
</head>

<body class="custom-bg-dark text-white mx-2">
	<div class="col-lg-6 mt-5 mx-auto">
		<div class="text-center">
			<h1 class="title">Akili Check</h1>
			<a href="" class="nv-link text {% if curr_page=='home' %}active{% endif %}">
				Welcome
			</a>
			<span class="mx-2 fw-bold">|</span>
			<a href="" class="nv-link text {% if curr_page=='login' %}active{% endif %}">
				Login
			</a>
			<span class="mx-2 fw-bold">|</span>
			<a href="" class="nv-link text {% if curr_page=='register' %}active{% endif %}">
				Register
			</a>
		</div>
		<div class="my-3">
			<div class="border-green flexy">
				<label for="language" class="form-label subtext">Choose your language:</label>
				<select name="language" id="language" class="custom-form-select-sm">
					<option value="en" selected>English</option>
					<option value="sw">Kiswahili</option>
				</select>
			</div>
		</div>
		{% block content %}
		{% endblock content %}
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>