{% extends 'base.html' %}

{% block content %}
<div class="subtitle">
    Early Check-in
</div>
<form action="" method="post">
    <div class="mt-3">
        <label for="age" class="form-label subtext">Enter your age:</label>
        <input type="text" class="custom-form-control" name="age" id="age" placeholder="0">
    </div>
    <div class="mt-3">
        <label for="language" class="form-label subtext">Select your gender:</label>
        <select name="language" id="language" class="custom-form-select">
            <option value="female" selected>Female</option>
            <option value="male">Male</option>
        </select>
    </div>
    <!-- check-in options -->
    <div class="my-4 text">
        {% for item in items %}
            <div class="mb-4">
                <strong>{{ item.title }}:</strong>
                {% for opt in item.options %}
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="{{opt.text}}" id="{{item.id}}-{{opt.id}}">
                        <label class="form-check-label ms-2" for="{{item.id}}-{{opt.id}}">
                            {{ opt.text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <input type="submit" value="Check" class="custom-btn px-4 subtext">
    </div>
</form>
<div class="mb-3 border-green text rounded-5">
    Based on your symptoms, we recommend taking the following assessment(s) for a more comprehensive evaluation: Depression, Bipolar
</div>
{% endblock content %}