{% extends 'base.html' %}

{% block content %}
<div class="subtitle text-center">
    {% if session['lang'] == "sw" %}
        Rudish Nenosiri
    {% else %}
        Recover Password
    {% endif %}
</div>
<div>
    {% for msg in get_flashed_messages() %}
        <div class="text-danger my-2 text-center">
            {{msg}}        
        </div>
    {% endfor %}
    
    <form method="post" action="{{url_for('forgot_password')}}">
        <div class="mb-3">
            <label for="username" class="form-label subtext">
                {% if session['lang'] == "sw" %}
                    Jina la mtumiaji
                {% else %}
                    Username
                {% endif %}
            </label>
            <input type="text" name="username" id="username" class="custom-form-control" placeholder="George Russel">
        </div>
        <div class="mb-3">
            {% if session["lang"] == "sw" %}
                Jibu maswali ya usalama yafuatayo:
            {% else %}
                Answer the following security questions:
            {% endif %}
        </div>
        {% for qn in qns %}
            <div class="mb-3">
                <label for="qn{{qn.id}}" class="form-label subtext">
                    {% if session["lang"] == "sw" %}
                        {{qn.text_sw}}
                    {% else %}
                        {{qn.text}}
                    {% endif %}
                </label>
                <input type="text" name="qn-{{qn.id}}" id="qn{{qn.id}}" class="custom-form-control" placeholder="answer" required>
            </div>
        {% endfor %}
        <div class="mb-3">
            <label for="new_password" class="form-label subtext">
                {% if session['lang'] == "sw" %}
                    Nenosiri Jipya
                {% else %}
                    New Password
                {% endif %}
            </label>
            <input type="password" name="new_password" id="new_password" class="custom-form-control" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label subtext">
                {% if session['lang'] == "sw" %}
                    Rudia Nenosiri
                {% else %}
                    Confirm Password
                {% endif %}
            </label>
            <input type="password" name="confirm_password" id="confirm_password" class="custom-form-control" placeholder="password">
        </div>
        <div class="mb-3 text-center">
            <input 
                type="submit" 
                value="{% if session['lang'] == 'sw' %}Rudisha{% else %}Recover{% endif %}" 
                class="custom-btn px-4 text">
        </div>
    </form>
</div>
{% endblock content %}

{% set curr_page="login" %}