{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <div class="subtitle text-center">
        {% if session['lang'] == "sw" %}
            Ingiza Taarifa Zako
        {% else %}
            Enter Your Login Details
        {% endif %}
    </div>
    <div class="login-box">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger my-2 text-center">
                {{ msg }}        
            </div>
        {% endfor %}
        
        <form method="post" action="{{ url_for('login') }}">
            <!-- Username Field -->
            <div class="mb-3">
                <label for="username" class="form-label">
                    {% if session['lang'] == "sw" %}
                        Jina la mtumiaji
                    {% else %}
                        Username
                    {% endif %}
                </label>
                <input type="text" name="username" id="username" class="custom-form-control" placeholder="" required>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <label for="password" class="form-label">
                    {% if session['lang'] == "sw" %}
                        Nenosiri
                    {% else %}
                        Password
                    {% endif %}
                </label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="password" class="custom-form-control" placeholder="password" required>
                    <i class="fas fa-eye password-icon" onclick="togglePasswordVisibility('password')" style="color: #165069;"></i>

                </div>
                
            </div>

            <!-- Submission and Additional Links -->
            <div class="mb-3 text-center">
                <input type="submit" value="{% if session['lang'] == 'sw' %}Ingia{% else %}Login{% endif %}" class="custom-btn">
                {% if session["lang"] == "sw" %}
                    Au &nbsp;<a href="{{ url_for('register') }}" class="custom-btn text">Jisajili</a>
                {% else %}
                    Or &nbsp;<a href="{{ url_for('register') }}" class="custom-btn text">Register</a>
                {% endif %}
                 <!-- Link to Forgot Password page with added class for styling -->
                <a href="{{ url_for('forgot_password') }}" class="custom-btn text forgot-password-link">
                    {% if session['lang'] == "sw" %}
                        Umesahau nenosiri?
                    {% else %}
                        Forgot Password?
                    {% endif %}
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var passwordIcon = document.querySelector(".password-wrapper i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.classList.add("fa-eye-slash");
            passwordIcon.classList.remove("fa-eye");
        } else {
            passwordInput.type = "password";
            passwordIcon.classList.remove("fa-eye-slash");
            passwordIcon.classList.add("fa-eye");
        }
    }
</script>


{% endblock content %}

{% set curr_page = "login" %}
