{% extends 'base.html' %}

{% block content %}
<div class="subtitle text-center my-2">
    Previous Assessment Scores
</div>
<div>
    {% if session['lang'] == "sw" %}
        <p>
            Habari, {{ current_user.username }}.
            {% if scores %}
                Ufuatao ni  ufupisho wa tathmini ulizofanya hadi sasa:
            {% else %}
                Hujafanya tathmini yeyote bado.
            {% endif %}
        </p>
    {% else %}
        <p>
            Hello, {{ current_user.username }}. 
            {% if scores %}
                Here is a summary of the assessments you've taken so far:
            {% else %}
                You have not taken any assessments yet.
            {% endif %}
        </p>
    {% endif %}
    {% for score in scores %}
        <div class="border-green mb-3">
            <strong>
                {% if session['lang'] == "sw" %}
                    Tathmini: 
                {% else %}
                    Assessment: 
                {% endif %}
            </strong>{{ score.assessment.title }}
            <br>
            <strong>
                {% if session['lang'] == "sw" %}
                    Alama: 
                {% else %}
                    Score: 
                {% endif %}
            </strong>{{ score.score }}/{{ score.assessment.max_score }}
            <br>
            <strong>
                {% if session['lang'] == "sw" %}
                    Muda: 
                {% else %}
                    Time: 
                {% endif %}
            </strong>{{ score.date_taken }}
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% set curr_page="scores" %}