# Compiled Python files
*.pyc
*.pyo

# Temporary files
*.pyc
*~
\#*\#
*.swp

# Flask instance folder
instance/

# Python bytecode
*.pyc
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/



# Sublime Text settings
.sublime-project
.sublime-workspace

# Virtual environment
afya_check_venv/

# Database file
*.db
