aiohttp
aiosignal
alembic
annotated-types
anyio
attrs
bcrypt
bidict
blinker
certifi
charset-normalizer
click
colorama
distro
dnspython
eventlet
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
frozenlist
greenlet
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
Mako
MarkupSafe
multidict
numpy
openai
packaging
plotly
psycopg2
psycopg2-binary
pydantic
pydantic_core
python-dotenv
python-engineio
python-socketio
requests
scikit-learn
scipy
simple-websocket
six
sniffio
SQLAlchemy
tenacity
threadpoolctl
tqdm
typing_extensions
urllib3
Werkzeug
wsproto
WTForms
yarl
